<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :part_type %><br />
    <%= f.select :part_type, [['Processor','PROCESSOR'],['Gfx Card','GFXCARD'],['Power Supply Unit','POWERSUPPLY']] %>
  </div>
  <div class="field">
    <%= f.label :img_url %><br />
    <%= f.text_field :img_url %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :available %><br />
    <%= f.check_box :available %>
  </div>
  <div class="field">
    <%= f.label :requires %><br />
    <%= f.text_field :requires %>
</div>
  <div class="field">
<%= f.label :company_id %><br />
<%= f.collection_select(:company_id, Company.all, :id, :name) %>
<br /><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
