<h1>Get started Building your own personal Computer!</h1>
<p>Enter details in the form below and we'll take it from there!</p>

<p><% notice %></p>

<h1> Choose a CPU </h1>
<%= form_tag(:controller => "store", :action => "submit") do %>

<%=collection_select(:processor, :id, @processors, :id, :name_with_price, {:selected => session[:proc]})%> 

<%if session[:proc] %>
<%=number_to_currency(Product.find_by_id(session[:proc]).price) %>
<%end %>

<h1> Choose a GFX Card </h1>
<%=collection_select(:gfxcard, :id, @gfxcards, :id, :name_with_price, {:selected => session[:gfxc]})%>

<%if session[:gfxc] %>
<%=number_to_currency(Product.find_by_id(session[:gfxc]).price) %>
<%end %>

<h1> Choose a Power Supply Unit </h1>
<%=collection_select(:powersupply, :id, @powersupplies, :id, :name_with_price, {:selected => session[:powersupply]})%>


<%if session[:powersupply] %>
<%=number_to_currency(Product.find_by_id(session[:powersupply]).price) %>
<%end %>
<br/>
<%=submit_tag "submit" %>


<%end %>

